body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  background: #3f4654;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body, html {
  margin: 0;
  height: 100%;
}

#root {
  padding: 15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  float: left;
  font-size: 50px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:hover {
  background: rgba(255,255,255,0.2)
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
  min-width: 700px;
}

.game > * {
  margin-right: 100px;
}

.game-nav {
  background: #495060;  
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

.game-start-button {
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  outline: none;
  padding: 5px 7.5px;
}

.game-stat {
  min-width: 110px;
}

.game-stat > ul {
  list-style-type: none;
  margin: 0;  
  padding: 0;
}

.game-stat > ul > li{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding-bottom: 10px;
}


.game-stat > ul > li > span.date {
  font-size: 11px;
  margin-bottom: 5px;
}

.game-info {
  margin-bottom: 7.5px;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
}